{ % extends 'base.html.twig' %}

{% block title %}Hello MealController!{% endblock %}

{% block body %}

    { % for meal in meals % }

    <img src="{{ vich_uploader_asset(meal,'imageName') }}" width ="400" height = "400" alt="{{ meal.file }}">

        <div class="col pb-2 pb-sm-3">
            <div class = "card-hover position-relative bg-secondary rounded-1 p-3 mb-4">


                <div class = "d-flex mb-1">
                    <h2>{{ meal.title }}</h2>
                </div>

                <h5 class = "fw-bold">{{ restaurant.meal }}</h5>

                <div class = "d-flex align-items-center"> <strong>{{ (meal.price / 100)|number_format(2, ',', ',') }}</strong></div>

            </div>
        </div>

    { %endfor% }



    <figure>
        <a href = "#">
            <img src= "Images/Salade de legumes.webp" alt="" style="width:100%"  >
            <figcaption><h3>Salade Nicoise</h3></figcaption></a>
    </figure>

    <figure>
        <a href = "#">
            <img src="Images/pexels-photo-257816.webp" alt=""  style="width:100%">
            <figcaption><h3>Salade Caesar</h3></figcaption></a>
    </figure>


    <figure>
        <a href = "#">
            <img src="Images/pexels-photo-1640770.jpeg" alt=""  style="width:100%">
            <figcaption><h3>Salade de melon</h3></figcaption></a>
    </figure>
    <figure>
        <a href = "#">
            <img src= "Images/pexels-grooveland-designs-3607284(4).jpg" alt="" style="width:100%"  >
            <figcaption><h3>Le burger Tofu</h3></figcaption></a>
    </figure>

    <figure>
        <a href = "#">
            <img src="Images/pexels-shameel-mukkath-5640015.jpg" alt=""  style="width:100%">
            <figcaption><h3>La pizza VG</h3></figcaption></a>
    </figure>


    <figure>
        <a href = "#">
            <img src="Images/pexels-klaus-nielsen-6287527.jpg" alt=""  style="width:100%">
            <figcaption><h3>Les nouilles Chinoise</h3></figcaption></a>
    </figure>

    <figure>
        <a href = "#">
            <img src="Images/chocolate-dessert-brownies-cake.webp" alt=""  style="width:100%">
            <figcaption><h3>Brownie</h3></figcaption></a>
    </figure>

    <figure>
        <a href = "#">
            <img src= "Images/pexels-photo-1833332.webp " alt="" style="width:100%"  >
            <figcaption><h3>Salade de fruits</h3></figcaption></a>
    </figure>






    <footer class="site-footer">

        <div class="address-horaires">
            <h4>Le Quai Antique</h4>

            <h5> 4 Rue de la Poterie,
                73000 Chambery </h5>
            <img class = "V-logo" src = Images/vegan.png alt ="V-logo">
            <div></div>

            <h5> Mardi au Samedi 12h00-14h00
                19h00-22h00</h5>
        </div>
    </footer>
    <style>

        body
        {
          background-image:url("images/pexels-oruri-jacome-9482636.jpg");

        }

      a
      {
          color:black;
      }

        figure img
        {
            display: flex;
            justify-content: center;
            object-fit: contain;

        }

        figure
        {
            display: flex;
            justify-content: center;
            height: 700px;
            width : 700px;
        }

      .site-footer
      {
          display:flex;
          background-color: bisque;
          justify-content: center;
          height:300px;
      }

      .address-horaires h4
      {
          display:flex;
          justify-content:center;
          flex-direction: column;
          width:70%;

      }

      h5, h4
      {
          display:flex;
          justify-content: center;
          text-align: right;
      }


    </style>

{% endblock %}

